# Local Hardhat node
HARDHAT_HOST=127.0.0.1
HARDHAT_PORT=8545
HARDHAT_DISABLE_TELEMETRY_PROMPT=true

# Testnet deployment
SSI_BLOCKCHAIN_NETWORK=sepolia
SEPOLIA_RPC_URL="https://eth-sepolia.g.alchemy.com/v2/-dr8jEldVNj_0zWCvThjY"
SEPOLIA_DEPLOYER_PRIVATE_KEY="d741f50aa8252bfdc3375aa77dc734b867fd8677f91e70bbe1fd78a083a3518b"
PRIVATE_KEY="d741f50aa8252bfdc3375aa77dc734b867fd8677f91e70bbe1fd78a083a3518b"
